<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabbirunix.prodassist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BottomProductivity">
        <activity android:name=".addtask.TodoUpdateActivity"></activity>
        <activity android:name=".ui.wallet.WalletUpdateActivity" />
        <activity android:name=".ui.wallet.WalletAddActivity" />
        <activity android:name=".ui.notes.NotesUpdateActivity" />
        <activity
            android:name=".ui.notes.NotesAddActivity"
            android:label="Add Notes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".addtask.RegularActivity"
            android:label="Add Regular Task"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".addtask.ProjectActivity"
            android:label="Add A Project"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".addtask.TodoActivity"
            android:label="Add A Todo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>